<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <title>Lease a car</title>
    </head>
    <body>
      <header class="subpage">
        <nav class="fixed">
          <h4 class="heading heading--haus">Stutt Leiga</h4>
          <div class="headlinks">
            <form>
              <input type="button" class="button button--head" value="User"/>
            </form>
            <form>
              <input type="button" class="button button--head" value="Logout" onclick="window.location.href='/logout.html'" />
            </form>
            <form>
              <input type="button" class="button button--head" value="Search" onclick="window.location.href='/search.html'" />
            </form>
          </div>
        </nav>
      </header>
      <main>
        <div class="grid">
          <div class="row">
            <div class="col col-6 col-sm-12">
              <form action="#" th:action="@{/leaseCar}" th:object="${lease}" method="POST">
                <h2 class="heading heading--main">Lease car:</h2><h2 th:text="${dateError}"</h2>
                 <div>
                  <input type="hidden" name="rentalId" id="rentalId" th:value="${rental.rentalId}"/>
                  <input type="hidden" name="owner" id="owner" th:value="${rental.ownerName}"/>
                  <input type="hidden" name="price" id="price" th:value="${rental.price}"/>
                </div> 
                <div class="fill-in-line">
                  <label for="startDate">Pick Up:</label>
                  <input name="startDate" type="date" placeholder="date" min="2000-01-01" max="2100-01-01"</input>
                  <label for="endDate"> Return:</label>
                  <input name="endDate" type="date" placeholder="date" min="2000-01-01" max="2100-01-01"</input>
                </div>
                <div>
                  <input type="submit" value="Lease"/>
                </div>
              </form>
            </div>
          </div>
      </main>
      <footer>
        <div class="bottom-footer">
          <p>
            © Stutt Leiga 2017
          </p>
        </div>
      </footer>
    </body>
</html>

