<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Search results</title>
    </head>
    <body>
      <header class="subpage">
        <nav class="fixed">
          <h4 class="heading heading--haus">
              <a class="heading heading--haus" href="/loggedUser.html">Stutt Leiga</a>
          </h4>
          <div class="headlinks">
              <div class="dropdown">
              <form>
                <input type="button" class="button button--head" th:value="${session.loggedUser.firstName}"> <i class="fa fa-caret-down"> </i> </input>
              </form>
              <div class="dropdown-content">
                <a href="/carRegister.html">Register a rental</a>
                <a href="/myRentals.html">My rentals</a>
                <a href="/myLeases.html">My leases</a>
                <a href="/editUser.html">Edit user</a>
                <hr>
                <a href="welcome.html">Logout</a>
              </div>
            </div>
            <form>
              <input type="button" class="button button--head" value="Search" onclick="window.location.href='/search.html'"> <i class="fa fa-search"></i> </input>
            </form>
          </div>
        </nav>
      </header>
      <main>
        <div class="grid">
          <div class="row">
            <div class="col col-6 col-sm-12">
              <h2 class="heading heading--main">Search results:</h2>
                <table class="search-list" border="1">
                  <tr>
                    <th>Car model: </th>
                    <th>Car type: </th>
                    <th>Available from: </th>
                    <th>Available to: </th>
                    <th>Price: </th>
                  </tr>
                    <tr th:each="car: ${resList}">
                      <td>
                          <form action="#" th:action="@{/moreInfo}" th:object="${car}" method="post">
                            <input type="hidden" name="car" th:value="${car.rentalId}"/>
                            <input class="search-list-input" type="submit" th:value="${car.carModel}" />
                          </form>
                      </td>
                      <td th:text="${car.carType}" />
                      <td th:text="${car.startDate}" </td> 
                      <td th:text="${car.endDate}"</td>
                      <td th:text="${car.price + '$/day'}"</td>
                    </tr>
                </table>
            </div>
          </div>
        </div>
      </main>
      <footer>
        <div class="bottom-footer">
          <p>
            © Stutt Leiga 2017
          </p>
        </div>
      </footer>
    </body>
</html>
