<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="styles.css">
        <title>Search</title>
    </head>
    <body>
      <header class="subpage">
        <nav class="fixed">
          <h4 class="heading heading--haus">Stutt Leiga</h4>
          <div class="headlinks">
            <form>
              <input type="button" class="button button--head" value="User"/>
            </form>
            <form>
              <input type="button" class="button button--head" value="Logout" onclick="window.location.href='/logout.html'" />
            </form>
            <form>
              <input type="button" class="button button--head" value="Search" onclick="window.location.href='/search.html'" />
            </form>
          </div>
        </nav>
      </header>
      <main>
        <div class="grid">
          <div class="row">
            <div class="col col-6 col-sm-12">
              <form class="info-box" method="POST" action="/searchResults">
                <h2 class="heading heading--main">Select car type and date:</h2>
                <div class="fill-in-line">
                  <div class="fill-in-line">
                    <label for="stardDate">Start date:</label>
                    <input name="startDate" type="date" placeholder="date" min="2000-01-01" max="2100-01-01"</input>
                  </div>
                  <div class="fill-in-line">
                    <label for="endDate"> End date:</label>
                    <input name="endDate" type="date" placeholder="date" min="2000-01-01" max="2100-01-01"</input>
                  </div>
                <div class="cartype">
                  <p>Car type:</p>
                  <label>
                    <input type="radio" name="cartype" value="Hatchback"> Hatchback
                  </label>
                  <label>
                    <input type="radio" name="cartype" value="Sedan"> Sedan
                  </label>
                  <label>
                    <input type="radio" name="cartype" value="SUV"> SUV
                  </label>
                  <label>
                    <input type="radio" name="cartype" value="Convertible"> Convertible
                  </label>
                </div>
                <div>
                  <input type="submit" value="Search"/>
                </div>
              </form>
            </div>
          </div>
      </main>
      <footer>
        <div class="bottom-footer">
          <p>
            © Stutt Leiga 2017
          </p>
        </div>
      </footer>
    </body>
</html>
