<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Roboto+Slab" />
        <link rel="stylesheet" href="styles.css"/>
        <title>Welcome</title>
    </head>
    <body>
      <header class="frontpage">
        <nav class="fixed">
          <h4 class="heading heading--haus">Stutt Leiga</h4>
          <div class="headlinks">
            <form>
              <input type="button" class="button button--head" value="Login" onclick="window.location.href='/login.html'" />
            </form>
          </div>
        </nav>
        <div class="splash">
          <h4 class="heading heading--two">Rent cars from car owners in your area</h4>
          <h1 class="heading heading--index">Stutt Leiga</h1>
          <form>
            <input type="button" class="button button--one" value="Sign up" onclick="window.location.href='/register.html'" />
          </form>
        </div>
      </header>
      <main>
        <div>
        </div>
      </main>
      <footer>
        <hr>
        <div class="bottom-footer">
          <p>
            © Stutt Leiga 2017
          </p>
        </div>
      </footer>
    </body>
</html>
